{{ form_start(form) }}
<div class="filter-form">
    {{ form_rest(form) }}
</div>
<div class="filter-form">
    <button class="btn btn-secondary btn-purple btn-filter" type="submit">Rechercher</button>
</div>
{{ form_end(form) }}