{{ form_start(form) }}
<div class="filter-form">
    {{ form_row(form.name) }}
</div>
<div class="filter-form">
    <button class="btn btn-secondary btn-purple btn-filter" type="submit">Rechercher</button>
</div>
{{ form_row(form.isCheck) }}

{{ form_end(form) }}