<h3>Un nouveau compte-rendu est en ligne !</h3>

<p> {{ exercise.student.name }}vient de rendre son devoir, rendez-vous sur le site pour le valider </p>

<a href="{{ path('login') }}">Cliquez ici pour y accéder</a>.

