{% extends 'base.html.twig' %}

{% block body %}
        <h1> Titre : {{ exercise.subject.title}} </h1>
        <br>
        <br>

        <table class="table">
                <thead class="thead-dark">
                <th>Vos valeurs experimentales</th>
                <th>Consignes</th>
                <th>Sujet</th>
                </thead>
                <tr>
                        <td>{{exercise.response }}</td>
                        <td>{{ exercise.subject.comment }}</td>
                        <td><a class="btn btn-purple btn-secondary" href="{{asset (vich_uploader_asset (exercise.subject, 'documentFile'))}}" target="_blank">Voir le sujet</a></td>
                </tr>
        </table>


{% endblock %}