{% extends 'base.html.twig' %}



{% block body %}
        <h1> Modifier la classe {{ team.name }}</h1>
        <br>
        <br>
        {% include 'teacher/team/partial/_form.html.twig' %}

{% endblock %}