{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    <h1>Cette page n'existe pas</h1>

    <br>
    <br>

    <a class="btn-secondary btn btn-purple nav-link" href="{{ path("login")}}" >Retour à la page de connexion</a>
{% endblock %}